@tailwind base;
@tailwind components;
@tailwind utilities;

  /*ANIMATIONS and CUSTOM EDITS*/

  .slide-up-enter {
    transform: translateY(30px);
    opacity: 0;
  }
  
  .slide-up-enter-active{
    transition: all 0.4s ease;
  }
  
  .slide-up-leave-to {
    transform: translateX(-70px);
    opacity: 0;
  }
  
  .slide-up-leave-active{
    transition: all 0.4s ease;
    position:absolute;
  }
  
  .slide-up-move{
    transition: all 0.6s ease-out
  }
  
  .fontFamily{
    font-family: 'Lobster', sans-serif;
  }

  @responsive{
    @variants hover,focus{   
  .text-7xl{
    font-size: 5.5rem;
  }
  .text-8xl{
    font-size: 6.5rem;
  }
  .mt-30{
    margin-top: 7rem;
  }
}
}
